* {
    font-family: 'IBM Plex Mono', monospace;
}

html, body {
    min-height: 100%;
}

nav {
    margin-bottom: 20px;
}

#view {
    padding-bottom: 89px;
}

footer {
    background-color: #f9f9f9;
    padding: 20px 0 20px 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

h2 {
    margin-top: 1.5rem;
}

.card-row-top {
    min-height: 498px;
}

.card-wrapper {
    margin-bottom: 1rem;
}

.card {
    width: 100%;
}

.card-front {
    min-height: 150px;
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
}

.top-row-h {
    margin-top: 35px;
}

.bottom-row-h {
    margin-top: 19px;
    padding-bottom: 11px;
}

h6 {
    font-size: 1.2rem;
}

.main-label {
    font-weight: 500;
}

.field-label {
    font-weight: 400;
}

.action-label {
    font-weight: 400;
    font-style: italic;
}

@media all and (min-width: 768px) {
    .card-row-top, .card-row-bottom {
        min-height: 166px;
    }
}
