nav {
    margin-bottom: 20px;
}

#view {
    padding-bottom: calc(51px + 1rem);
}

footer {
    background-color: #f9f9f9;
    padding: 20px 0 20px 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

h2 {
    margin-top: 1.5rem;
}

.card-wrapper {
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    min-height: 150px;
}
