@model AssetRepo.Models.ContributorListViewModel

@{
    ViewBag.Title = "Contributors";
}

<h2>Contributors</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Contributors.Count; i++)
        {
            <tr>
                <td>@Model.Contributors[i].Name</td>
                <td>
                    @Html.ActionLink("Edit", "ContributorEdit", new { id = Model.Contributors[i].ContributorId }, new { @class = "text-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-sm-12 form-group">
    <label>Total Assets:</label> @Model.TotalContributors
</div>
<div class="col-sm-12">
    @Html.ActionLink("Add Contributor", "ContributorAdd", null, new { @class = "btn btn-dark" })
</div>