@{
    ViewBag.Title = "Edit Not Allowed";
}

<h2>@ViewBag.Title</h2>
<hr>
<br>
<div class="container">
    <p>Editing the "Miscellaneous" or "General Use" projects or the "SYSTEM" contributor is not permitted. Click below to return to Projects or Contributors.</p>
    <br><br><br>
    <div class="row">
        <div class="col-12 col-sm-3 form-group">
            @Html.ActionLink("Projects", "Index", null, new { @class = "btn btn-dark" })
        </div>
        <div class="d-none d-sm-block col-sm-5 col-md-6 col-lg-7 col-xl-7"></div>
        <div class="col-12 col-sm-2 form-group">
            @Html.ActionLink("Contributors", "Index", null, new { @class = "btn btn-dark" })
        </div>
    </div>
</div>

