@{
    ViewBag.Title = "Edit Not Allowed";
}

<h2>@ViewBag.Title</h2>
<hr>
<div class="container">
    <p>Editing the "Miscellaneous" or "General Use" projects is not permitted. Click below to return to Projects.</p>
    <div class="col-sm-12">
        @Html.ActionLink("Projects", "Index", null, new { @class = "btn btn-dark" })
    </div>
</div>

